<h2>Sign In</h2>

<form action="<%= sessions_url %>" method="post">
  <%= auth_token_input %>
  <label>
    Username
    <input type="text" name="user[username]" value="">
  </label>

  <label>
    Password
    <input type="password" name="user[password]" value="">
  </label>
  <input type="submit" value="Sign Up">
</form>

<form action="<%= users_url %>" method="post">
  <%= auth_token_input %>
  <input type="hidden" name="user[username]" value="guest">
  <input type="hidden" name="user[password]" value="">
  <input type="submit" value="Guest Sign In">
</form>
