/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
     padding: 0;
     margin: 0;
     border: 0;
     text-align: inherit;
     vertical-align: inherit;
     background: transparent;
     box-sizing: border-box;
 }

 html, body {
   height: 100%;
 }

 h1 {
   font-size: 2em;
 }

#root {
  /*width: 940px;*/
  margin: auto;
}

body {
  background-color: #eee;
  color: #2C353C;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

button:hover {
  cursor: pointer;
}

header {
  background-color: #1D2439;
}

header .subnav button {
  float: right;
  background: #134FE6;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  padding: 20px;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 20px;
  margin: 0 0 10px 10px;
  padding: 3px 0 0 15px;
}

header .subnav button:hover,
.sidebar .newTerm:hover {
  color: #05ff56;
  cursor: pointer;
}

.header-inner {
  width: 940px;
  margin: auto;
  color: white;
  font-family: 'Special Elite', cursive;
  padding: 15px 0;
}

.header-inner h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

main {
  width: 940px;
  margin: auto;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.sidebar {
  width: 300px;
  float: right;
  background-color: #fff;
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px #aaa;
  position: relative;
}

.sidebar h2 {
  position: absolute;
  z-index: 2;
}

.sidebar h2 span{
  text-transform: uppercase;
  background-color: #EFFF00;
  font-weight: bold;
  line-height: 1;
}

.sidebar .newTerm {
  margin-top: 120px;
  background: #134FE6;
  width: 240px;
  height: 70px;
  color: white;
  padding: 20px 30px;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  text-align: right;
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 0px 2px 0px #000;
  font-size: 20px;
}

.gif {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.gif.cat {
  background: center center no-repeat url("http://media1.giphy.com/media/uSXTDFYDWpelW/200_s.gif");
}

.gif.cat:hover {
  background: center center no-repeat url("http://media1.giphy.com/media/uSXTDFYDWpelW/200.gif");
}

.gif.bowie {
  background: center center no-repeat url("http://media3.giphy.com/media/yoJC2wQqhXpm97vdeg/200_s.gif");
}

.gif.bowie:hover {
  background: center center no-repeat url("http://media3.giphy.com/media/yoJC2wQqhXpm97vdeg/200.gif");
}

.gif.glider {
  background: center center no-repeat url("http://media1.giphy.com/media/E5OAxWp0bKVj2/200_s.gif");
}

.gif.glider:hover {
  background: center center no-repeat url("http://media1.giphy.com/media/E5OAxWp0bKVj2/200.gif");
}

.gif.kermit {
  background: center center no-repeat url("http://media0.giphy.com/media/DYH297XiCS2Ck/200_s.gif");
}

.gif.kermit:hover {
  background: center center no-repeat url("http://media0.giphy.com/media/DYH297XiCS2Ck/200.gif");
}

.gif.typing {
  background: center center no-repeat url("http://media0.giphy.com/media/JIX9t2j0ZTN9S/200_s.gif");
}

.gif.typing:hover {
  background: center center no-repeat url("http://media0.giphy.com/media/JIX9t2j0ZTN9S/200.gif");
}

.newTerm span {
  float: right;
}

.newTerm .plus {
  float: left;
}

header .subnav button.signIn {
  padding: 1px 0 0 16px;
  font-size: 24px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(64, 64, 64, 0.9);
  padding-top: 30px;
  z-index: 4;
}

.modal h2 {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin: 0 auto 15px auto;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.modal > section {

}

.modal .form-inner {
  padding: 30px;
  font-size: 18px;
  background: white;
  width: 800px;
  margin: 50px auto 0 auto;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  border-radius: 3px;
  box-shadow: 0px 2px 2px black;
}

.modal .form-inner input {
  width: 100%;
  background: #aaa;
  height: 50px;
  padding-left: 20px;
  font-size: 18px;
  margin: 10px 0;
}

.modal .form-inner input[type="file"] {
  padding-top: 15px;
}

.modal button {
  color: white;
}

/*.modal form button, .modal form input[type="submit"] {
  background: yellow;
  color: black;
  width: 100%;
  text-align: center;
  font-size: 24px;
  padding: 30px;
  margin-top: 40px;
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 0px 2px 0px #000;
}*/

.modal form button:hover, .modal form input[type="submit"]:hover {
  background: #1D2439;
  color: white;
}

.modalContent {
  width: 800px;
  margin: auto;
}

.closeModal {
  background: #134FE6;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  border: 2px solid yellow;
  text-align: center;
  float: right;
}

.subnav .newTerm .fa {
  font-size: 28px;
}

.file-uploads .fa {
  font-size: 14px;
}

.file-uploads button:hover {
  cursor: pointer;
}

.logInStatus {
  float: right;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 12px;
}

.logInStatus button {
  background: #134FE6;
  font-weight: bold;
  padding: 5px;
  border-radius: 3px;
  margin-top: 5px;
  color: white;
  float: right
}

.logInStatus button:hover {
  color: #EFFF00;
}

.yt-video {
  margin-top: 10px;
}

.logo {
  margin-bottom: 20px;
  float:left;
}

.logo h1 {
  color: white;
}

.logo h1:hover {
  color: #134FE6;
}

.header-inner a {
  text-decoration: none;
}

.sign-in {
  width: 260px;
  float: left;
}

.sign-in .form-inner, .sign-up .form-inner {
  width: 260px;
  margin-top: 0px;
}

.sign-up{
  width: 260px;
  float: right;
}

.single-click-logins {
  width: 260px;
  float: left;
  margin-right: 10px;
}

.single-click-logins form {
  margin-bottom: 15px;
}

.single-click-logins > form > input[type="submit"] {
  margin: auto;
}

.single-click-logins > form > input[type="submit"]:hover {
  background: #1D2439;
}

.single-click-logins > div {
  margin-bottom: 15px;
}

.third-party-login, .single-click-logins input[type="submit"], .new-term-submit {
  text-align: center;
  font-size: 24px;
  margin:15px auto;
  padding: 10px;
  width: 260px;
  background: #134FE6;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000;
  color: #1D2439;
}

.third-party-login a button,  i.fa.fa-facebook-official, i.fa.fa-twitter  {
  font-size: 24px;
}

.third-party-login:hover {
  background-color: #1D2439;
  border-radius: 3px;
}

.third-party-login:hover a button,
.third-party-login:hover i.fa.fa-facebook-official,
.third-party-login:hover i.fa.fa-twitter,
.single-click-logins input[type="submit"] {
  color: white;
}

.facebook-like {
  float:right;
}

.opinion button {
  width: 70px;
  height: 45px;
  border: 1px solid black;
  box-shadow: 0px 1px #000;
  text-align: center;
  font-size: 14px;
  font-weight: bold;

}

.opinion button .fa {
  font-size: 14px;
}

.opinion button:hover {
  background: #05ff56;
  cursor: pointer;
}

.opinion button.dislike {
  border-radius: 50% 0 0 50% / 20px 0 0 20px;
}

.opinion button.like {
  border-radius: 0 50% 50% 0 / 0 20px 20px 0;
}

.errors {
  position: absolute;
  background: white;
}

.error {
  color: red;
}

.logo {
  height: 50px;
  width: 145px;
  overflow: hidden;
  background: no-repeat url("https://s3.amazonaws.com/urbane-dictionary-production/terms/logo.png") 0px 0px;
}

.logo:hover {
  background-position: 0px -50px;
}

.search-results-list {
  position: absolute;
  z-index: 1;
  background: white;
  box-shadow: 1px 1px 1px #aaa;
}

.search-results-list ul {
  list-style: none;
  width: 750px;
}

.search-results-list li {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #1769AC;
  padding: 5px 15px;
  font-weight: normal;
  list-style: none;
  width: 750px;

}

.search-results-list li:hover {
  font-weight: bold;
  background: #05ff56;
}

.alphabetMenu {
  display: none;
  position: absolute;
  width: 300px;
  background: white;
  border: solid 1px black;
  box-shadow: 0px 2px black;
  border-radius: 3px;
  top: 40px;
  left: 185px;
}

.alphabetMenu ul {
  list-style: none;
}

.alphabetMenu li {
  float: left;
  z-index: 1;
  border-radius: 50%;
  background: #aaa;
  color: #134FE6;
  width: 40px;
  height: 40px;
  margin: 9px;
  padding: 15px 0 0 16px;
  font-size: 12px;
  text-transform: uppercase;
}

.alphabetMenu li:hover {
  color: white;
  background: #134FE6;
  cursor: pointer;
}

.alphabetMenu::before {
  content: "";
  width: 10px;
  height: 10px;
}

nav.nav {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  position:relative;
}

nav.nav .browse:hover .alphabetMenu {
  display: block;
}

nav.nav ul{
  list-style: none;
}

nav.nav ul li {
  display: inline;
}

nav.nav > ul > a > li {
  display: block;
  float:left;
  font-weight: bold;
  padding:20px 0 0 40px;
  font-size: 12px;
}

nav.nav > ul > a > li:hover {
  color: #EFFF00;
  cursor: pointer;
}

input.sign-in-button, input.sign-up-button {
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 15px auto;
    background: #134FE6;
    width: 260px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #000;
    padding: 10px;
  }

.delete_button {
  cursor: pointer;
  padding-top: 10px;
  float:left;
}
 input[type="submit"] {
     cursor: pointer;
 }
