/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
     padding: 0;
     margin: 0;
     border: 0;
     text-align: inherit;
     vertical-align: inherit;
     background: transparent;
     box-sizing: border-box;
 }

#root {
  /*width: 940px;*/
  margin: auto;
}

body {
  background-color: #eee;
  color: #2C353C;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

header {
  background-color: #1D2439;
}

header .subnav button {
  float: right;
  background: #134FE6;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  padding: 20px;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 20px;
  margin: 0 0 10px 10px;
  padding: 3px 0 0 15px;
}

header .subnav button:hover,
.sidebar .newTerm:hover {
  color: #05ff56;
}

.header-inner {
  width: 940px;
  margin: auto;
  color: white;
  font-family: 'Special Elite', cursive;
  padding: 15px 0;
}

main {
  width: 940px;
  margin: auto;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.sidebar {
  width: 300px;
  float: right;
  background-color: #fff;
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px #aaa;
}

.sidebar h2 {
  text-transform: uppercase;
  background-color: #EFFF00;
  font-weight: bold;
  line-height: 1;
}

.sidebar .newTerm {
  margin-top: 20px;
  background: #134FE6;
  width: 240px;
  height: 70px;
  color: white;
  padding: 20px 30px;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  text-align: right;
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 0px 2px 0px #000;
  font-size: 20px;
}

.newTerm span {
  float: right;
}

.newTerm .plus {
  float: left;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 79, 230, 0.5);
  padding-top: 30px;
}

.modal h2 {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid yellow;
  margin: auto;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.modal > section {

}

.modal .form-inner {
  padding: 30px;
  font-size: 18px;
  background: white;
  width: 800px;
  margin: 50px auto 0 auto;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  border-radius: 3px;
  box-shadow: 0px 2px 2px black;
}

.modal .form-inner input {
  width: 100%;
  background: #aaa;
  height: 50px;
  padding-left: 20px;
  font-size: 18px;
  margin: 10px 0;
}

.modal button {
  color: white;
}

.modal form button, .modal form input[type="submit"] {
  background: yellow;
  color: black;
  width: 100%;
  text-align: center;
  font-size: 24px;
  padding: 30px;
  margin-top: 40px;
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 0px 2px 0px #000;
}

.modalContent {
  width: 800px;
  margin: auto;
}

.closeModal {
  background: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  border: 2px solid yellow;
  text-align: center;
  float: right;
}

.subnav .newTerm .fa {
  font-size: 28px;
}

.file-uploads .fa {
  font-size: 14px;
}

.logInStatus button {
  background: #134FE6;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: bold;
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
  color: white;
}

.logInStatus button:hover {
  color: #EFFF00;
}
