// Place all the styles related to the Terms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.term {
  width: 620px;
  background-color: #fff;
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px #aaa;
  float: left;
}

.term a:hover {
  color: #05ff56;
}

.term-list {
  width: 620px;
  float: left;
}

.term a {
  text-decoration: none;
  color: #134FE6;
}

strong.term-header {
  background-color: #EFFF00;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  margin-bottom: 20px;
  font-size: 12px;
  float: left;
}

.fb-like {
  float: right;
}

.term h2 {
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 32px;
  display: block;
  margin: 20px 0;
}

.definition {
  margin-bottom: 20px;
}

.usage {
  font-style: italic;
}

.author {
  margin-top: 20px;
  font-weight: bold;
}

.author a {
  color: #134FE6;
}

.file-uploads {
  float: right;
  text-align: center;
  position: relative;
}

.file-uploads button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0px 2px black;
  margin: 2px;
  padding-top: 1px;
}

button.pressed {
  position: relative;
  top: 2px;
  box-shadow: 0px  0px black;
  background: #05ff56;
}

.opinion button {
  box-shadow: 0px 2px black;
}

.opinion button.pressed {
  background: white;
  position: relative;
  top: 1px;
  box-shadow: 0px 0px black;
}

.opinion button:disabled {
  color: black;
}

.upload-buttons {
  width: 142px;
  position: absolute;
  top: 50px;
  background: #05ff56;
  padding: 5px;
}

.upload-button:before {
  content: " ";
  width: 10px;
  height: 10px;
  background: #05ff56;
}

.upload-buttons button {
  background: white;
}

.upload-buttons button:hover {
  background: #05ff56;
}

.fa-ellipsis-h {
  color:black;
}

.spinner {
  text-align:center;
  margin: auto;
  font-size: 20px;
  font-family: 'Special Elite', cursive;
}
i.fa-spin {
  color: #134FE6;
  font-size: 64px;
}

.ellipsis:hover{
  background: #05ff56;
}

.subnav input[type="text"] {
  background-color: white;
  border-radius: 3px;
  height: 50px;
  width: 750px;
  padding-left: 15px;
  font-size: 18px;
}

.subnav input[type="text"]:placeholder-shown {
  color: #888;
}

.termImg, .preview-image {
  max-width: 300px;
  margin: 20px auto;
  display: block;
}

.closeModal {
  font-size: 24px;
}

.yt-video {
  margin-bottom: 20px;
}

.audio-upload {
  display: none;
}
