// Place all the styles related to the Terms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.term {
  width: 620px;
  background-color: #fff;
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px #aaa;
}

.term a {
  text-decoration: none;
}

strong.term-header {
  background-color: #EFFF00;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  margin-bottom: 20px;
  font-size: 12px;
}

.term h2 {
  color: #134FE6;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 32px;
  display: block;
  margin: 20px 0;
}

.definition {
  margin-bottom: 20px;
}

.usage {
  font-style: italic;
}

.author {
  margin-top: 20px;
  font-weight: bold;
}

.author a {
  color: #134FE6;
}

.file-uploads {
  float: right;
  text-align: center;
  position: relative;
}

.file-uploads button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
  margin: 2px;
}

.upload-buttons {
  width: 142px;
  position: absolute;
  top: 50px;
  background: #05ff56;
  padding: 5px;
}

.upload-button:before {
  content: " ";
  width: 10px;
  height: 10px;
  background: #05ff56;
}

.upload-buttons button:hover {
  background: white;
}

.ellipsis:hover{
  background: #05ff56;
}
