<!DOCTYPE html>
<html>
<head>
  <title>Urbane Dictionary - Colloquialisms for the City-Dwelling Sophisticate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="https://s3.amazonaws.com/urbane-dictionary-production/terms/images/000/000/001/original/favicon.ico" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

<%= yield %>

</body>
</html>
